ul.menuadmin li {
    float: left;
    margin: 10px;
    display: block;
    width: 14%;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 27px;
}
ul.menuadmin li:hover{
    background-color: aqua;
    color: azure;
}
ul.menuadmin {
    font-family: arial;
    list-style: none;
}
ul.menuadmin li a {
    color:black;
}
.clear{
    clear:both;
}